*.o
*.d
autoconf.h
.config*
.menuconfig.log
.menuconfig.old
control6/control6.h
MCmenu
MCradiolists
ethersex
ethersex.bin
ethersex.hex
vfs/vfs-concat
pinning.c
scripts/lxdialog/lxdialog
core/portio/user_config.c
core/portio/user_config.h
meta.c
meta.m4
contrib/stella/stella_test
protocols/ecmd/ecmd_defs.c
