.*.swp
config.mk
*~
*.E
*.o
*.dep
autoconf.h
.config*
.menuconfig.log
.menuconfig.old
control6/control6.c
control6/control6.h
MCmenu
MCradiolists
ethersex
ethersex.bin
ethersex.hex
vfs/vfs-concat
pinning.c
scripts/lxdialog/lxdialog
core/portio/user_config.c
core/portio/user_config.h
meta.c
meta.m4
contrib/stella/stella_test
contrib/rfm12_ask/ecmd_speed/rfm12ask_send
protocols/ecmd/ecmd_defs.c
core/vfs/vfs-concat
*.orig
*.old
*.rej
*.hex
services/httpd/magic.c
